#root {
  width: 100%;
  max-width: 1200px;
  min-width: 1150px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavBar {
  position: fixed;      
  top: 0;               
  left: 0;              
  width: 100%;          
  height: 70px;         
  background-color: rgb(76, 43, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 0;    
  z-index: 1000; 
}

.NavDiv {
  width: 33%;
  position: fixed;
  top:0;
}

.NavTitle {
  display: flex;
  justify-content: center;
}

.NavCart {
  text-align: right;
  padding: 25px;
}

.NavUser {
  text-align: left;
  padding: 15px;
}

.GroceriesApp-Container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1200px; 
  border: 1px solid white; 
  gap:10px
}

.CartContainer {
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: column;
  position: sticky; 
  top: 0; /*Adjust this value as needed */
  max-height: 100vh;/* Ensure it doesn't exceed the viewport height */
  overflow-y: auto; /*Add scroll if content exceeds the container height */
 
  padding: 15px;
  margin: auto;
}

.CartCard {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(43, 48, 54);
  width: 90%;
  max-width: 200px;
  max-height: 150px;
  
}

.CartCardInfo {
  display: flex;
  justify-content: space-around; 
  width: 50%;
}

.ProductsContainer {
  width: 75%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 3;
  padding: 10px;
  text-align: center;
 
}

.ProductCard {
  width: 20%;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  
  
}

.ProductQuantityDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.QuantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  
  cursor: pointer;
  margin: 0 5px;
}
.QuantityBtn:hover {
  background-color: rgb(76, 43, 226);
}

img {
  height: 50px;
  border-radius: 5px;
}

.counter-container {
  /* border: 1px solid white; */
  display: flex;
  width: 70%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto;
}

.counter-button {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 90%;
  cursor: pointer;

}

.CartListBtns {
  display: flex;
  justify-content: space-around;
}

.RemoveButton {
  background-color: rgb(190, 0, 0);
  width: auto;
}

#BuyButton {
  background-color: green;
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;

}
